.achievements-container {
    background-color: gray;
    height: 15em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    color: white;
}

.achievements-title {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: royalblue;
    color: white;
    text-align: center;
    margin: 0px;
    height: 1.5em;
}

.badges {
    height: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* overflow: scroll; */
    overflow-y: hidden;
}

.badges::-webkit-scrollbar {
    background-color: darkblue;
    max-height: 0.5em;
}

.badges::-webkit-scrollbar-thumb {
    background-color: orange;
    max-width: 1em;
}

.badge {
    display: flex;
    flex-direction: column;
    min-height: 8em;
    max-height: 8em;
    min-width: 8em;
    max-width: 8em;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
    margin-left: 1em;
    object-fit: contain;
    overflow: hidden;
}

.badge img {
    display: flex;
    max-height: 80%;
    max-width: 80%;
}

.badge-unlocked {
    display: flex;
    flex-direction: column;
    min-height: 8em;
    max-height: 8em;
    min-width: 8em;
    max-width: 8em;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 1em;
    object-fit: contain;
    overflow: hidden;
    color: black;
    padding: 10px;
}

.badge-img-container {
    max-height: 80%;
    max-width: 80%;
}

.badge-img-container img {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.achievementModal {
    width: 80vw;
    height: fit-content;
    border-radius: 2vw;
    background-color: gray;
    box-sizing: border-box;
}

.ach-button {
    width: fit-content;
    margin: auto;
}

.ach-button button {
    background-color: royalblue;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 7px 7px 10px black;
}

.newAchievements {
    display: flex;
    flex-wrap: wrap;
}

.achievement-unlocked {
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 25%;
    color: white;
    font-size: 1em;
}

.ach-img {
    min-height: 7em;
    max-height: 7em;
    min-width: 7em;
    max-width: 7em;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.ach-img img {
    max-width: 100%;
    max-height: 100%;
}