.athlete-title {
    text-align: center;
}

.profile {
    margin: 0 3em 0 3em; 
}
.profile h3{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.gear-button {
    margin-left: 0.5em;
    background: none;
    border: none;
    font-size: 0.5em;
    cursor: pointer;
}
.gear-button:hover {
    background-color: orange;
    border-radius: 25px;
}

.profile-div {
    margin-bottom: 2em;
}

.training-tools {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.training-stats {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 1em;
    height: fit-content;
}

.profile-detail {
    color: orange;
}

.HR-div {
    width: 60%;
    /* border: 1px solid red; */
}

.HR-radio {
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}

.HR-radio-div {
    display: flex;
    align-content: center;
    margin: 1em 0 1em 0;
}

.take-test {
    background: none;
    color: rgb(180, 180, 180);
    font-size: 1em;
    border: none;
    cursor: pointer;
}