.events {
    margin: auto;
    width: 75%;
}

.event-container {
    display: flex;
    background-color: gray;
    margin-bottom: 1em;
    border-radius: 1em;
    width: 100%;
    align-items: center;
}

.event-logo {
    border-radius: 1em;
    width: 30%;
    margin: 0.5em;
    overflow: hidden;
    padding: 0px;
    height: 100%;
    background-color: whitesmoke;
    align-items: center;
}

.event-logo img {
    width: 100%;
    object-fit: contain;
}

.event-details-div {
    width: 75%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    padding: 0 1em 0 1em;
}

.event-title {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.event-title a {
    text-decoration: none;
}

.date-location {
    display: flex;
    justify-content: space-between;
}

.sports {
    font-size: 1.5em;
    color: rgb(159, 175, 228);
}

.distance {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    margin-left: 2em;
    align-items: center;
    justify-content: center;
}

.filters fieldset {
    margin-right: 1em;
}

.filter-container {
    display: flex;
    align-items: center;
    height: 2.5em;
    font-size: 1.5em;
    /* border: 1px orange solid; */
}

.event-details {
    display: flex;
    justify-content: space-between;
}

.filter-container button {
    background: none;
    align-items: center;
    font-size: 0.7em;
    border: none;
    width: 2em;
    height: 2em;
}

.filter-container button:hover {
    cursor: pointer;
    background-color: orange;
    border-radius: 5px;
}

.filters select {
    background-color: gray;
    color: whitesmoke;
    font-size: 1em;
    height: 2em;
}

.filters select option:hover {
    background-color: red;
}

.details-button {
    display: flex;
    justify-content: center;
    background-color: rgb(102, 134, 228);
    align-content: center;
    text-align: center;
    border-radius: 10px;
    height: 5em;
    width: 5em;
    align-self: center;
    padding: 0em;
}

.details-button br, a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.details-button:hover {
    cursor: pointer;
    color: orange;
    font-weight: bold;
    background-color: rgb(102, 134, 228);
}

.events-header {
    margin: 0 1.5em 0 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.events-title h1 {
    margin: 0px;
    padding: 0px;
}

.search {
    display: flex;
    font-size: 1.5em;
    align-items: center;
}

.search input {
    background-color: gray;
    color: whitesmoke;
    height: 2em;
    margin-left: 0.5em;
}