.activities {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
}

.log-act {
    background-color: rgb(35, 138, 197);
    border-radius: 10px;
    font-size: 1em;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.act-details {
    width: 100%;
    background-color: rgb(82, 82, 82);
    border-radius: 1em;
}

.activities-h1 {
    margin: 0px;
    margin-left: 1em;
}

.act {
    color: whitesmoke;
    width: 80%;
    margin: auto;
}

.act-stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    font-size: 1.5em;
    background-color: rgb(82, 82, 82);
}

.activity {
    background-color: gray;
    color: whitesmoke;
    width: 60%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 1em;
    display: flex;
}

.act-title {
    text-align: center;
    margin: 0px;
    background-color: rgb(71, 88, 104);
    color: orange;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.act-title a:hover{
    color: white;
}

.act-date {
    text-align: center;
    margin: 0px;
}

.act-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}
.act-buttons button {
    background: none;
    border: none;
    border-radius: 1em;
    padding: 0px;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.act-dist-gain {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.sports-table-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sports-table {
    border: 1px solid royalblue;
    border-radius: 10px;
    background-color: gray;
    width:70%;
    margin:1em 0 1em 0;
    text-align: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.6);
}
.td-sport {
    background-color: rgb(71, 88, 104);
    min-width: 5em;
    border-radius: 10px;
}

.bold-orange {
    color: orange;
    font-weight: bold;
}