.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login>fieldset>input[type="email"],
.form--login>fieldset>input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: flex;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.user-pass {
    display: flex;
    width: 25em;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.container--login {
    text-align: center;
}

.form--login {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position-x: center;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    width:80%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}

.dob {
    width: 14em;
}

.bio{
    width: 14em;
    height: 8em;
}

.dob-bio {
    margin-left: 1.6em;
}


.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: -12em;

}

.reg-row {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sex-radios {
    display: flex;
    height: calc(1.5em + .75rem + 2px);
}

.sex-radios input {
    width: 2em;
    height: 2em;
}

.last {
    justify-content: space-evenly;
    display: flex;
    margin: 0 0em 0 -1em;
    align-items: flex-end;
}

.register-submit {
    font-size: 2em;
    border-radius: 5px;
    background-color: royalblue;
    color: whitesmoke;
    cursor: pointer;
}

.user-radios {
    display: flex;
    align-items: center;
    height: calc(1.5em + .75rem + 2px);
}

.user-radios input {
    width: 2em;
    height: 2em;
}

.user_type {
    display: flex;
    font-size: 2em;
    align-items: center;
}

.user_type input{
    width: 2em;
    height: 2em;
}